#nuiResources {
	display: none;
}

#nuiResources .containerConfig {
    position: absolute;
    bottom: 5%;
    left: 2.5%;
    
    width: 95%;
    height: 80%;
    margin: auto;
    
    border: solid black;
    box-shadow: 0 0 0.3vw rgb(81, 162, 237);
    border-radius: 1.0vw;
    border-width: 2.5%;
    background-color: rgb(36, 35, 35);
    
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Arial', cursive;
    text-shadow: 0.104vw 0 0 rgb(0, 0, 0), -0.104vw 0 0 rgb(0, 0, 0), 0 0.104vw 0 rgb(0, 0, 0), 0 -0.104vw 0 rgb(0, 0, 0), 0.052vw 0.052vw rgb(0, 0, 0), -0.052vw -0.052vw 0 rgb(0, 0, 0), 0.052vw -0.052vw 0 rgb(0, 0, 0), -0.052vw 0.052vw 0 rgb(0, 0, 0);
    font-size: 0.7vw;

    overflow: hidden;
}

#nuiResources .containerConfig .contentContainer {
    position: relative;
    width: auto;
    height: auto;

    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Arial', cursive;
    text-shadow: 0.104vw 0 0 rgb(0, 0, 0), -0.104vw 0 0 rgb(0, 0, 0), 0 0.104vw 0 rgb(0, 0, 0), 0 -0.104vw 0 rgb(0, 0, 0), 0.052vw 0.052vw rgb(0, 0, 0), -0.052vw -0.052vw 0 rgb(0, 0, 0), 0.052vw -0.052vw 0 rgb(0, 0, 0), -0.052vw 0.052vw 0 rgb(0, 0, 0);
    font-size: 0.7vw;
}

#nuiResources .containerConfig .upperBar{
    width: 100%;
    height: 7%;
    background-color: rgb(50, 50, 50);
    border-bottom: solid rgb(70, 70, 70);
    border-bottom-width: 2.5%;
    border-radius: 1.0vw 1.0vw 0.0vw 0.0vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* #nuiResources .containerConfig .upperBar .logo{

} */

#nuiResources .containerConfig .upperBar .resources{
    position: relative;
    top: 0%;
    left: -13%;
    width: 5%;
    height: 30%;
    
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#nuiResources .containerConfig .upperBar .functions{
    position: relative;
    top: 0%;
    left: -12%;
    width: 5%;
    height: 30%;
    
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#nuiResources .containerConfig .upperBar .events{
    position: relative;
    top: 0%;
    left: -11%;
    width: 5%;
    height: 30%;
    
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#nuiResources .containerConfig .upperBar .scripts{
    position: relative;
    top: 0%;
    left: -10%;
    width: 5%;
    height: 30%;
    
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#nuiResources .containerConfig .upperBar .userinfo{
    position: relative;
    top: 0%;
    left: 28%;
    width: 5%;
    height: 30%;
    
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#nuiResources .containerConfig .upperBar .frameworkInfo{
    position: relative;
    top: 0%;
    left: 29%;
    width: 5%;
    height: 30%;
    
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#nuiResources .containerConfig .upperBar .darkAndLightMode{
    display: none;

    position: relative;
    top: 0%;
    left: 30%;
    width: 2.5%;
    height: 50%;
    background-image: url("https://media.discordapp.net/attachments/753086574710882457/1214676337093251143/darkandlightmode.png?ex=65f9fa7e&is=65e7857e&hm=611264ae88d7ad856e38102185c0187c8c1c99006deefe587b632fe69dad6b70&=&format=webp&quality=lossless&width=662&height=662");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#nuiResources .containerConfig .options {
    position: absolute;
    width: 15%;
    height: 80%;
    top: 9%;
    left: 0.75%;
    background-color: rgb(50, 50, 50);
    border: solid rgb(70, 70, 70);
    border-width: 2.5%;
    border-radius: 1.0vw 0.0vw 0.0vw 0.0vw;

	display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    gap: 0.1%;

    overflow: auto;
}

#nuiResources .containerConfig .options #clickOption {
    position: relative;
    width: auto;
    height: auto;
    border: none;
    background-color: rgba(0,0,0,0);
    margin-bottom: 5px;

    text-align: start;
    color: rgb(255, 255, 255);
    font-family: 'Arial', cursive;
    text-shadow: 0.104vw 0 0 rgb(0, 0, 0), -0.104vw 0 0 rgb(0, 0, 0), 0 0.104vw 0 rgb(0, 0, 0), 0 -0.104vw 0 rgb(0, 0, 0), 0.052vw 0.052vw rgb(0, 0, 0), -0.052vw -0.052vw 0 rgb(0, 0, 0), 0.052vw -0.052vw 0 rgb(0, 0, 0), -0.052vw 0.052vw 0 rgb(0, 0, 0);
    font-size: 1.0vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    white-space: nowrap;
    word-break: break-all;    
}

#nuiResources .containerConfig .options #clickOption:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.selected {
    background-color: rgba(255, 255, 255) !important;
}

#nuiResources .containerConfig .options #clickOptionDel {
    position: relative;
    width: 10%;
    height: 5%;
    z-index: 2;
} 
#nuiResources .containerConfig .options #clickOptionDel:hover {
    cursor: no-drop;
}

.clickToggleOption {
    position: relative;
    width: auto;
    height: 0.9vw;

    background: rgb(24, 122, 13);
    border: solid black;
    border-radius: 1.0vw;
    vertical-align: top;
    cursor: pointer;
    color: #ffffff;

    right: -45%;
    top: -3.5%;
    transform: translateY(-50%);
}
  
.clickToggleOption:disabled {
    background: #911818;
    color: #000000;
    cursor: not-allowed;
}

#nuiResources .containerConfig .informationBox {

    position: absolute;
    width: 98.5%;
    height: 2%;
    top: 7%;
    left: 0.75%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#nuiResources .containerConfig .codeEditor{
    position: absolute;
    width: 82%;
    height: 80%;
    top: 9%;
    left: 17%;
    background-color: rgb(50, 50, 50);
    border: solid rgb(70, 70, 70);
    border-width: 2.5%;
    border-radius: 0.0vw 1.0vw 0.0vw 0.0vw;

    display: block;
    align-items: baseline;
    justify-content: baseline;
    text-align: start;

    overflow: auto;
}

#nuiResources .containerConfig .editorButons {
    position: absolute;

    width: 82%;
    height: 6%;
    top: 91.5%;
    left: 17%;

    background-color: rgb(50, 50, 50);
    border: solid rgb(70, 70, 70);
    border-width: 2.5%;
    border-radius: 0.0vw 0.0vw 1.0vw 0.0vw;

    align-items: center;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 25%;
}

#nuiResources .containerConfig .editorButons #editorSave, #nuiResources .containerConfig .editorButons #editorCancel {
    position: relative;

    width: 15%;
    height: 70%;

    border: solid rgb(70, 70, 70);
    border-width: 2.5%;
    border-radius: 1.0vw;

    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Arial', cursive;
    text-shadow: 0.104vw 0 0 rgb(0, 0, 0), -0.104vw 0 0 rgb(0, 0, 0), 0 0.104vw 0 rgb(0, 0, 0), 0 -0.104vw 0 rgb(0, 0, 0), 0.052vw 0.052vw rgb(0, 0, 0), -0.052vw -0.052vw 0 rgb(0, 0, 0), 0.052vw -0.052vw 0 rgb(0, 0, 0), -0.052vw 0.052vw 0 rgb(0, 0, 0);
    font-size: 0.7vw;
    
    cursor: pointer;
}

#nuiResources .containerConfig .editorButons #editorSave {
    background-image: linear-gradient(to bottom right, rgb(17, 73, 31), rgb(38, 157, 68) );
}

#nuiResources .containerConfig .editorButons #editorCancel {
    background-image: linear-gradient(to bottom right, rgb(84, 25, 35), rgb(185, 57, 78) );
}

#nuiResources .containerConfig .interectionContainer {
    position: absolute;

    width: 15%;
    height: 6%;
    top: 91.5%;
    left: 0.75%;

    background-color: rgb(50, 50, 50);
    border: solid rgb(70, 70, 70);
    border-width: 2.5%;
    border-radius: 0.0vw 0.0vw 0.0vw 1.0vw;
}

#nuiResources .containerConfig .interectionContainer button{
    width: 100%;
    height: 100%;
    background-color: rgb(81, 162, 237);
    border: none;
    border-width: 2.5%;
    border-radius: 0.0vw 0.0vw 0.0vw 1.0vw;

    text-align: start;
    color: rgb(255, 255, 255);
    font-family: 'Arial', cursive;
    text-shadow: 0.104vw 0 0 rgb(0, 0, 0), -0.104vw 0 0 rgb(0, 0, 0), 0 0.104vw 0 rgb(0, 0, 0), 0 -0.104vw 0 rgb(0, 0, 0), 0.052vw 0.052vw rgb(0, 0, 0), -0.052vw -0.052vw 0 rgb(0, 0, 0), 0.052vw -0.052vw 0 rgb(0, 0, 0), -0.052vw 0.052vw 0 rgb(0, 0, 0);
    font-size: 0.7vw;
}

.tooltip {
    position: absolute;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    position: absolute;
    visibility: hidden;
    background-color: rgb(68, 68, 68);

    color: rgb(255, 255, 255);
    font-family: 'Arial', cursive;
    text-shadow: 0.104vw 0 0 rgb(0, 0, 0), -0.104vw 0 0 rgb(0, 0, 0), 0 0.104vw 0 rgb(0, 0, 0), 0 -0.104vw 0 rgb(0, 0, 0), 0.052vw 0.052vw rgb(0, 0, 0), -0.052vw -0.052vw 0 rgb(0, 0, 0), 0.052vw -0.052vw 0 rgb(0, 0, 0), -0.052vw 0.052vw 0 rgb(0, 0, 0);
    font-size: 0.7vw;
    text-align: initial;

    padding: 5px 0;
    border-radius: 0.2vw;
    bottom: 100%;
    left: 50%;
    margin-left: -50%;
    opacity: 0;
    transition: opacity 0.3s;
    
    z-index: 3;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}